.sign-up {
  background-image: url("../../assets/btn/btn_join.svg");
  &:hover {
    background-image: url("../../assets/btn/btn_join_h.svg");
  }
  &_normal {
    width: 6.4375rem;
    height: 3.75rem;
    margin-block: 0.25rem 1rem;
  }
}

.join-hand {
  animation: shake 0.25s ease-out infinite;
}

@keyframes shake {
  from {
    translate: 0% -5%;
  }
  to {
    translate: 0% 5%;
  }
}
