.section {
  padding-block-start: clamp(2.5rem, calc(0rem + 5vw), 3.75rem);
  display: grid;
  gap: 1.5rem;
  font-size: 1.5rem;
  &__inner {
    display: grid;
    gap: 1.5rem;
    padding-inline: 1.25rem;
    color: var(--clr-primary-400);
  }
}

.trophy {
  display: grid;
  padding-inline: 1.25rem;
  & img {
    grid-area: 1 / 1 / -1 / -1;
  }
}

.title {
  font-size: 2rem;
  color: var(--clr-highlight-400);
}

.list {
  padding-inline-start: 2rem;
  & span {
    color: var(--clr-highlight-400);
    font-size: 2rem;
  }
}
