.characters {
  display: flex;
  background-image: url("../../assets/main/road.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: fixed;
  bottom: 0;
  left: 50%;
  translate: -50%;
  width: 93.1vw;
  width: min(100% - 1.25rem, 22.5rem);
  z-index: 1;
  @media (min-width: 75em) {
    width: 73.4735rem;
  }
  justify-content: center;
}

.character {
  width: 7rem;
  &_middle {
    width: 7.375rem;
  }
  @media (min-width: 75em) {
    width: clamp(18.875rem, calc(9.69rem + 12.25vw), 21.9375rem);
    &_middle {
      width: clamp(19.9375rem, calc(10.38rem + 12.75vw), 23.125rem);
    }
  }
}
