.characters {
  display: flex;
  background-image: url("../../assets/main/road.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: fixed;
  bottom: 0;
  left: 50%;
  translate: -50%;
  width: 93.1vw;
  width: min(100% - 1.25rem, 22.5rem);
  z-index: 1;
  @media (min-width: 75em) {
    width: 73.4735rem;
  }
}
