.characters {
  display: flex;
  background-image: url("../../assets/main/road.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: fixed;
  bottom: 0;
  left: 50%;
  translate: -50%;
  width: 93.1vw;
  z-index: 1;
  // TODO: to 43.7vw;
  // ? use scale?
}
