@use "../../sass/typography" as *;

.margin {
  margin-block-end: clamp(3.75rem, calc(2.75rem + 2vw), 4.25rem);
}

.list {
  display: grid;
  gap: 0.5rem;
  padding-inline: 1.25rem;
  color: var(--clr-highlight-400);
  text-align: center;
  &__title {
    margin-block-end: 0.25rem;
    @include fz-20-32-750;
  }
  @media (min-width: 75em) {
    width: min(100%, 90rem);
    margin-inline: auto;
    grid-template-columns: repeat(3, 1fr);
  }
}

.picture {
  width: min(100%, 29.6875rem);
  margin-inline: auto;
}
