@font-face {
  font-family: "Gen Jyuu Gothic P";
  src: local("Gen Jyuu Gothic P"),
    url("../../assets/font/genjyuugothic/GenJyuuGothic-P-Medium.ttf")
      format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Gen Jyuu Gothic P";
  src: local("Gen Jyuu Gothic P"),
    url("../../assets/font/genjyuugothic/GenJyuuGothic-P-Bold.ttf")
      format("truetype");
  font-weight: 700;
}

:root {
  --fz-20to32: clamp(1.25rem, calc(-0.25rem + 3vw), 2rem);
  --fz-28to60: clamp(1.75rem, calc(-2.25rem + 8vw), 3.75rem);
  --fz-24to44: clamp(1.5rem, calc(-1rem + 5vw), 2.75rem);
  --fz-18to24: clamp(1.25rem, calc(0.38rem + 1.5vw), 1.5rem);
  --fz-16to18: clamp(1rem, calc(0.75rem + 0.5vw), 1.125rem);
}

body {
  font-family: "Gen Jyuu Gothic P", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--fz-16to18);
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

strong {
  font-size: var(--fz-18to24);
  line-height: 1.4;
}

h1,
h2 {
  line-height: 1.25;
}

h1 {
  font-size: var(--fz-20to32);
}

h2 {
  font-size: var(--fz-28to60);
}

h3 {
  font-size: var(--fz-24to44);
  line-height: 1.4;

  @media (min-width: 64rem) {
    line-height: 1.25;
  }
}

h4,
h5 {
  line-height: 1.4;
}

h4 {
  font-size: var(--fz-20to32);
}

h5 {
  font-size: var(--fz-18to24);
}
