@font-face {
  font-family: "Gen Jyuu Gothic P";
  src: local("Gen Jyuu Gothic P"),
    url("../../assets/font/genjyuugothic/GenJyuuGothic-P-Medium.ttf")
      format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Gen Jyuu Gothic P";
  src: local("Gen Jyuu Gothic P"),
    url("../../assets/font/genjyuugothic/GenJyuuGothic-P-Bold.ttf")
      format("truetype");
  font-weight: 700;
}

// TODO: 字體都要改一下，從800 - 1200的

body {
  font-family: "Gen Jyuu Gothic P", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: clamp(1rem, calc(0.83rem + 0.33vw), 1.125rem);
  font-weight: 500;
  line-height: 1.6;
}

strong {
  font-size: clamp(1.125rem, calc(0.63rem + 1vw), 1.5rem);
  line-height: 1.4;
}

h1,
h2 {
  line-height: 1.25;
}

h1 {
  font-size: clamp(1.25rem, calc(0.25rem + 2vw), 2rem);
}

h2 {
  font-size: clamp(1.75rem, calc(-0.92rem + 5.33vw), 3.75rem);
}

h3 {
  font-size: clamp(1.5rem, calc(-0.17rem + 3.33vw), 2.75rem);
  line-height: 1.4;

  @media (min-width: 64rem) {
    line-height: 1.25;
  }
}

h4,
h5 {
  line-height: 1.4;
}

h4 {
  font-size: clamp(1.25rem, calc(0.25rem + 2vw), 2rem);
}

h5 {
  font-size: clamp(1.125rem, calc(0.63rem + 1vw), 1.5rem);
}
