@font-face {
  font-family: "Gen Jyuu Gothic P";
  src: local("Gen Jyuu Gothic P"),
    url("../../assets/font/genjyuugothic/GenJyuuGothic-P-Medium.ttf")
      format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Gen Jyuu Gothic P";
  src: local("Gen Jyuu Gothic P"),
    url("../../assets/font/genjyuugothic/GenJyuuGothic-P-Bold.ttf")
      format("truetype");
  font-weight: 700;
}

@mixin fz-18-24-750 {
  font-size: 1.125rem;
  @media (min-width: 46.875em) {
    font-size: 1.5rem;
  }
}

@mixin fz-24-60-750 {
  font-size: 1.5rem;
  @media (min-width: 46.875em) {
    font-size: 3.75rem;
  }
}

@mixin fz-24-60-1200 {
  font-size: 1.5rem;
  @media (min-width: 75em) {
    font-size: 3.75rem;
  }
}

@mixin fz-20-24-750 {
  font-size: 1.25rem;
  @media (min-width: 46.875em) {
    font-size: 1.5rem;
  }
}

@mixin fz-20-24-1200 {
  font-size: 1.25rem;
  @media (min-width: 75em) {
    font-size: 1.5rem;
  }
}

@mixin fz-20-32-750 {
  font-size: 1.25rem;
  @media (min-width: 46.875em) {
    font-size: 2rem;
  }
}

@mixin fz-20-32-1200 {
  font-size: 1.25rem;
  @media (min-width: 75em) {
    font-size: 2rem;
  }
}

@mixin fz-24-44-750 {
  font-size: 1.5rem;
  @media (min-width: 46.875em) {
    font-size: 2.75rem;
  }
}

@mixin fz-28-60-750 {
  font-size: 1.75rem;
  @media (min-width: 46.875em) {
    font-size: 3.75rem;
  }
}

@mixin fz-28-60-1200 {
  font-size: 1.75rem;
  @media (min-width: 75em) {
    font-size: 3.75rem;
  }
}

body {
  font-family: "Gen Jyuu Gothic P", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: var(--fw, 700);
  line-height: var(--lh, 1.4);
  letter-spacing: var(--ls, 0.05em);
  @include fz-20-24-1200;
}

h1,
h2 {
  --lh: 1.25;
}

h3 {
  @media (min-width: 75rem) {
    --lh: 1.25;
  }
}
