@use "../../sass/typography" as typo;
@use "../../sass/utility" as util;

.banner-header {
  margin-block-end: clamp(4.25rem, calc(-4.87rem + 18.25vw), 8.8125rem);
  @media (min-width: 75em) {
    display: none;
  }
}

.list {
  display: grid;
  justify-content: center;
  gap: 5.625rem;
  background-color: var(--clr-secondary-400);
  &__item {
    display: grid;
    justify-items: center;
  }
  &__title {
    color: var(--clr-highlight-400);
    @include typo.fz-24-60-750;
  }
  @media (min-width: 75em) {
    padding-block-start: 5rem;
    grid-template-columns: repeat(3, 1fr);
    @include util.section-center-above-1200;
    &__item:first-child {
      translate: 0% -11%;
    }
  }
}

.pill {
  @include util.pill(
    $padding: 0.4em 1.4em,
    $bg-clr: var(--clr-primary-400),
    $clr: var(--clr-black-100)
  );
  margin-block-end: 0.75rem;
  @include typo.fz-20-32-750;
}

.detail {
  font-size: var(--fz-20to24);
  color: var(--clr-secondary-900);
  @include typo.fz-20-24-750;
  & + span {
    --lh: 1.6;
    color: var(--clr-highlight-400);
    font-size: 1.125rem;
  }
}

.date-decoration {
  display: none;
  @media (min-width: 75em) {
    width: 90rem;
    min-height: clamp(8.125rem, calc(5.88rem + 3vw), 8.875rem);
    margin-inline: auto;
    background-image: url("../../assets/main/date_line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 100%;
    display: flex;
    justify-content: space-around;
  }
}

.first-week {
  translate: 100% -30%;
}

.second-week {
  translate: 0% -55%;
  z-index: -1;
}

.third-week {
  translate: -200% -35%;
  z-index: -1;
}
