@use "../../sass/typography" as *;

.header {
  &__main {
    z-index: 1;
    position: fixed;
    inset: 0 0 auto;
    padding-block-start: clamp(0.75rem, calc(-1.5rem + 4.5vw), 1.875rem);
    background-color: var(--clr-secondary-400);
    &_picture {
      width: 8.3125rem;
      margin-inline: auto;
    }

    @media (min-width: 75em) {
      background-color: transparent;
      width: fit-content;
      margin-inline-start: 2.5rem;
      &_picture {
        // TODO: 要用scroll方式顯示出來
        display: none;
        opacity: 0;
      }
    }
  }
  &__banner {
    text-align: center;
    min-height: 4.5rem;
    background-image: url("../../assets/bg/bg_talking_c.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-block-start: clamp(0.75rem, calc(-1rem + 3.5vw), 1.625rem);
    color: var(--clr-primary-400);
    &-title {
      @include fz-24-60-1200;
    }
    @media (min-width: 75em) {
      min-height: 9.4375rem;
      width: fit-content;
      margin-inline: auto;
      position: relative;

      $width: 6.16rem;
      &::before,
      &::after {
        content: "";
        position: absolute;
        min-height: 9.4375rem;
        width: $width;
        background-size: 100% 100%;
        top: 0;
      }
      &::before {
        background-image: url("../../assets/bg/bg_talking_l.png");
        left: -$width;
      }
      &::after {
        background-image: url("../../assets/bg/bg_talking_r.png");
        right: -$width;
      }
    }
  }
}
