@use "../../sass/typography" as *;

.header {
  &__main {
    z-index: 1;
    position: fixed;
    inset: 0 0 auto;
    padding-block-start: clamp(0.75rem, calc(-1.5rem + 4.5vw), 1.875rem);
    background-color: var(--clr-secondary-400);
    &_picture {
      width: 8.3125rem;
      margin-inline: auto;
    }
  }
  &__banner {
    text-align: center;
    min-height: 4.5rem;
    background-image: url("../../assets/bg/bg_talking_c.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-block-start: clamp(0.75rem, calc(-1rem + 3.5vw), 1.625rem);
    color: var(--clr-primary-400);
    &-title {
      @include fz-24-60-1200;
    }
  }
}
