@mixin central-pill($bg-clr, $clr) {
  width: fit-content;
  margin-inline: auto;
  border-radius: 99em;
  background-color: $bg-clr;
  color: $clr;
}

.section {
  padding-block-end: 3.75rem;
}

.btn__user {
  aspect-ratio: 1;
  background-size: cover;
  width: clamp(2.5rem, calc(-2.5rem + 10vw), 5rem);
  position: fixed;
  top: clamp(0.75rem, calc(-1.5rem + 4.5vw), 1.875rem);
  right: clamp(0.5rem, calc(-0.5rem + 2vw), 1rem);
  background-image: url("../../assets/btn/btn_user.png");
  z-index: 2;

  &:hover {
    background-image: url("../../assets/btn/btn_user_h.png");
  }

  &:active {
    background-image: url("../../assets/btn/btn_user_p.png");
  }
}
