@use "../../sass/utility/" as *;

.margin {
  margin-block-end: 3.3125rem;
}

.button {
  display: block;
  background-image: url("../../assets/btn/btn_sponsor.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: clamp(15.75rem, calc(7.88rem + 15.75vw), 19.6875rem);
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  margin-block-end: 0.75rem;
  &:hover {
    background-image: url("../../assets/btn/btn_sponsor_h.svg");
    & img {
      translate: 2% 2%;
    }
  }
  & img {
    width: 80%;
  }
}

.pill {
  @include pill(
    $padding: 0.22em 1.33em,
    $bg-clr: transparent,
    $clr: var(--clr-secondary-900)
  );
  border: 2px solid currentColor;
  font-size: 1.125rem;
  &:hover {
    @include pill(
      0.22em 1.33em,
      $bg-clr: var(--clr-secondary-900),
      $clr: var(--clr-black-100)
    );
    border: none;
  }
}

.list {
  display: grid;
  place-items: center;
  text-align: center;
  gap: 2.5rem;
}
